packages
target
Win32
x64
Release
Debug
install
*.suo
*.user
VERSION
CMakeCache.txt
CMakeFiles

cmake_install.cmake
*.sdf
*.vcxproj
*.filters
*.sln
/install_manifest.txt
/LibLogicalAccessConfig.cmake
/*.opensdf
/.vs/liblogicalaccess-libnfc/v15
*~
lla_*_api.hpp