packages
target
Win32
x64
Release
Debug
*.suo
*.user
VERSION
CMakeCache.txt
CMakeFiles
/plugins/pluginsreaderproviders/ALL_BUILD.vcxproj
/plugins/pluginsreaderproviders/ALL_BUILD.vcxproj.filters
cmake_install.cmake
*.sdf
/plugins/pluginsreaderproviders/INSTALL.vcxproj
/plugins/pluginsreaderproviders/INSTALL.vcxproj.filters
/plugins/pluginsreaderproviders/nfc/ALL_BUILD.vcxproj
/plugins/pluginsreaderproviders/nfc/ALL_BUILD.vcxproj.filters
/plugins/pluginsreaderproviders/nfc/INSTALL.vcxproj
/plugins/pluginsreaderproviders/nfc/INSTALL.vcxproj.filters
/plugins/pluginsreaderproviders/nfc/libnfc-nfcreaders.sln
/plugins/pluginsreaderproviders/nfc/libnfc-nfcreaders.vcxproj
/plugins/pluginsreaderproviders/nfc/libnfc-nfcreaders.vcxproj.filters
/ALL_BUILD.vcxproj
/ALL_BUILD.vcxproj.filters
/INSTALL.vcxproj
/INSTALL.vcxproj.filters
/LibLogicalAccessConfig.cmake
/ZERO_CHECK.vcxproj
/ZERO_CHECK.vcxproj.filters
/liblogicalaccess-libnfc.opensdf
/liblogicalaccess-libnfc.sln
